@import "tailwindcss";
@import "tw-animate-css";
@import "@fontsource-variable/geist";

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
}

html {
  font-family: "Geist Variable", sans-serif;
}
